body {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

main {
  background-color: #161b22;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  color: #fff;
  padding-top: 100px;
}

h1 {
  color: #58a6ff;
}

.inputs {
  display: flex;
  gap: 10px;
}

input[type="number"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

#display {
  font-size: 60px;
  font-weight: bold;
  color: #58a6ff;
  margin-top: 20px;
}

.botoes {
  display: flex;
  gap: 15px;
}

.btn {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  font-size: 16px;
}

.btn:hover {
  background-color: #0056b3;
}

#mensagem {
  font-size: 20px;
  color: #4caf50;
  margin-top: 15px;
  font-weight: bold;
}
